h1 {
  margin: 0;
  font-size: clamp(2rem, 4vw, 3.4rem);
  color: #2f1f17;
  letter-spacing: -1px;
  padding-top: 0;
  padding-bottom: 0.2em;
}

h2 {
  margin: 0;
  font-size: clamp(0.5rem, 2vw, 2.4rem);
  color: #2f1f17;
  letter-spacing: -1px;
  padding-top: 0;
  padding-bottom: 0.2em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.playersTable {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.playersCell {
  border: 1px solid #2f1f17;
  text-align: left;
  padding: 8px;
}

.flowerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.flowerChip {
  display: inline-block;
  padding: 6px 14px;
  margin: 3px;
  border-radius: 45px;
  border: 1px solid #facc15;
  color: #92400e;
  background: #fff1e5;
}
